body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:834px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:360px;
  height:640px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
}
#u850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:128px;
  background:inherit;
  background-color:rgba(33, 150, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 4px 4px rgba(0, 0, 0, 0.23921568627451);
  -webkit-box-shadow:0px 4px 4px rgba(0, 0, 0, 0.23921568627451);
  box-shadow:0px 4px 4px rgba(0, 0, 0, 0.23921568627451);
}
#u852 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:360px;
  height:128px;
}
#u852_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:128px;
  background:inherit;
  background-color:rgba(3, 155, 229, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.117647058823529);
  -webkit-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.117647058823529);
  box-shadow:0px 0px 4px rgba(0, 0, 0, 0.117647058823529);
}
#u853 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:360px;
  height:128px;
}
#u853_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:48px;
  background:inherit;
  background-color:rgba(3, 169, 244, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u854 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:130px;
  width:120px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u854_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:14px;
  width:104px;
  word-wrap:break-word;
}
#u855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:48px;
  background:inherit;
  background-color:rgba(3, 169, 244, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u855 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:130px;
  width:120px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u855_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:14px;
  width:104px;
  word-wrap:break-word;
}
#u856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(3, 169, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:74px;
  width:360px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u856_text {
  border-width:0px;
  position:absolute;
  left:72px;
  top:14px;
  width:286px;
  word-wrap:break-word;
}
#u857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:48px;
  background:inherit;
  background-color:rgba(3, 169, 244, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:130px;
  width:120px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u857_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:14px;
  width:104px;
  word-wrap:break-word;
}
#u858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:92px;
  width:24px;
  height:21px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
}
#u858_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:197px;
  width:343px;
  height:141px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
}
#u860_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:214px;
  width:40px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u861_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:215px;
  width:49px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u862_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(153, 153, 153, 0.866666666666667);
  text-align:left;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:237px;
  width:115px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(153, 153, 153, 0.866666666666667);
  text-align:left;
}
#u863_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:264px;
  width:323px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u864_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  word-wrap:break-word;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:348px;
  width:343px;
  height:141px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
}
#u866_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:365px;
  width:40px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u867_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:366px;
  width:49px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u868_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(153, 153, 153, 0.866666666666667);
  text-align:left;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:388px;
  width:115px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(153, 153, 153, 0.866666666666667);
  text-align:left;
}
#u869_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:415px;
  width:323px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u870_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  word-wrap:break-word;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:499px;
  width:343px;
  height:103px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
}
#u872_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:516px;
  width:40px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u873_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:517px;
  width:49px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u874_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(153, 153, 153, 0.866666666666667);
  text-align:left;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:539px;
  width:115px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(153, 153, 153, 0.866666666666667);
  text-align:left;
}
#u875_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:566px;
  width:323px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u876_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  word-wrap:break-word;
}
#u877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.898039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:360px;
  height:640px;
  font-family:'思源黑体 CN';
  font-weight:400;
  font-style:normal;
}
#u877_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u879_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:0px;
  width:72px;
  height:72px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:596px;
  width:56px;
  height:56px;
  color:#000000;
}
#u879_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:72px;
  height:72px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:596px;
  width:56px;
  height:56px;
}
#u880_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:612px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u881_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u883_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:0px;
  width:72px;
  height:72px;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:596px;
  width:56px;
  height:56px;
  color:#000000;
}
#u883_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u884_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:72px;
  height:72px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:596px;
  width:56px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u884_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  word-wrap:break-word;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u886_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:0px;
  width:72px;
  height:72px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:596px;
  width:56px;
  height:56px;
  color:#000000;
}
#u886_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:72px;
  height:72px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:596px;
  width:56px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u887_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  word-wrap:break-word;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u889_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:0px;
  width:72px;
  height:72px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:596px;
  width:56px;
  height:56px;
  color:#000000;
}
#u889_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:72px;
  height:72px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:596px;
  width:56px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u890_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  word-wrap:break-word;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:115px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:575px;
  width:340px;
  height:115px;
  color:#FF3399;
}
#u892_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:324px;
  word-wrap:break-word;
}
#u893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:569px;
  width:40px;
  height:40px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF3399;
}
#u893_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:73px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:486px;
  width:340px;
  height:73px;
  color:#FF3399;
}
#u895_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:324px;
  word-wrap:break-word;
}
#u896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:480px;
  width:40px;
  height:40px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF3399;
}
#u896_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
